<header class="header">
    <!-- Logo a la izquierda -->
    <a routerLink="/" class="logo">Mi Logo</a>
  
    <!-- Opciones a la derecha -->
    <div class="header-options">
      <!-- Si el usuario NO está logueado, mostramos el botón "Acceder" -->
      <button *ngIf="!isLogged" mat-raised-button color="primary" (click)="navegarLogin()" class="login-btn">Acceder</button>
  
      <!-- Si el usuario está logueado, mostramos el botón "Logout" y el rol -->
      <div *ngIf="isLogged" class="user-info">
        <span>{{ usuario?.username }}</span>
        <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">Logout</button>
      </div>
    </div>
  </header>
  