<div class="register-container">
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Num Ident</mat-label>
        <input matInput formControlName="numIdent">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="apellido1">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="apellido2">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol">
          <mat-option *ngFor="let rol of roles" [value]="rol">{{ rol }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </form>
  </div>
  