.perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  // Ocupa toda la pantalla
}

.perfil-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 800px;
}

mat-form-field {
    width: 100%;
}
  