<div class="mascotas-container">
    <table mat-table [dataSource]="mascotas" class="mat-elevation-z8 mascotas-tabla">
  
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let mascota"> {{mascota.nombre}} </td>
      </ng-container>
  
      <!-- Número de Chip -->
      <ng-container matColumnDef="numChip">
        <th mat-header-cell *matHeaderCellDef> Número de Chip </th>
        <td mat-cell *matCellDef="let mascota"> {{mascota.numChip}} </td>
      </ng-container>
  
      <!-- Encabezado -->
      <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
      <!-- Filas -->
      <tr mat-row *matRowDef="let mascota; columns: columnasTabla;" class="fila-hover" (click)="navegarMascotaDashboard(mascota.id)">
      </tr>
    </table>
  </div>
  