.mascotas-container {
    margin: 40px auto;
    padding: 20px;
    max-width: 600px; /* Ajustamos el ancho del contenedor */
  }
  
  .mascotas-tabla {
    width: 100%; /* La tabla ocupará todo el ancho del contenedor */
    table-layout: auto; /* Las columnas se ajustan automáticamente al contenido */
    border-collapse: collapse; /* Evitamos espacios entre las celdas */
  }
  
  mat-header-cell, mat-cell {
    padding: 12px 16px; /* Espaciado mayor para que el contenido no quede pegado al borde */
    text-align: left;
  }
  
  mat-header-cell {
    font-weight: bold;
  }
  
  .fila-hover {
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el cambio de color y sombra */
  
    &:hover {
      background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agregamos una sombra sutil al hacer hover */
    }
  }
  
  table th, table td {
    width: auto; /* Ajustamos el ancho de las columnas al contenido */
    padding: 12px 16px; /* Espaciado entre el contenido y el borde de la celda */
    text-align: left;
  }
  