<div class="dashboard-container">
    <h2>Panel de Control del Veterinario</h2>
    <div class="dashboard-buttons">
      <button mat-raised-button color="primary" (click)="navegarPerfil()">Mi Perfil</button>
  
      <button mat-raised-button color="accent" (click)="navegarClientes()">Clientes</button>
  
      <button mat-raised-button color="warn" (click)="navegarMascotas()">Mascotas</button>
  
      <button mat-raised-button color="primary" (click)="navegarConsultas()">Consultas</button>
    </div>
</div>
  